/*tout format*/
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background-color: hsl(229, 57%, 11%);
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.card_action {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
}

.logo{
    margin: 2.6em 0em 0em 2.6em;
}

.action_buttons {
    display: flex;
    flex-direction: row;
    margin-left: 2.6em;
    margin-top: 2em;
}

.icon_action {
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.storage_stat {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    font-size: 0.9em;
    position: relative;
}

.storage_barre_empty {
    min-height: 1.4em;
    max-height: 1.4em;
    width: 100%;
    background-color: #161f48;
    border-radius: 10px;
    margin: 1em 0em 0.5em 0em;
    display: flex;
    align-items: center;
}

.storage_barre_full {
    height: 1em;
    border-radius: 10px;
    width: 81.5%;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    margin-left: 0.2em;
    padding-right: 0.15em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.storage_barre_point {
    height: 0.7em;
    width: 0.7em;
    background-color: white;
    border-radius: 10px;
}

.bold {
    font-weight: 700;
}

.big {
    font-size: 3.4em;
    color: hsl(229, 57%, 11%);
    margin-right: 0.2em;
}

.storage_text_barre {
    color: hsl(243, 100%, 93%);
    font-weight: 700;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.storage_text_used {
    color: hsl(243, 100%, 93%);
}

.storage_text_left {
    background-color: white;
    min-width: 180px;
    max-width: 180px;
    min-height: 72px;
    max-height: 72px;
    font-size: 0.85em;
    font-weight: 700;
    color: hsl(229, 7%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 0.2em;
}

/*ordinateur*/
@media only screen and (min-width: 941px) {

    body {
        background-image: url("images/bg-desktop.png");
        background-position: bottom;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .card_action {
        min-width: 350px;
        max-width: 350px;
        max-height: 205px;
        min-height: 205px;
        margin-right: 1.9em;
    }

    .storage_stat {
        max-width: 460px;
        min-width: 460px;
        min-height: 115px;
        max-height: 115px;
        padding: 2.7em 2.7em 0em 2.7em;
    }

    .storage_text_left {
        position: absolute;
        top: -22px;
        left: 22px;
        border-radius: 10px 10px 0px 10px;
    }

    .pointe {
        content: "";
        min-width: 180px;
        max-width: 180px;
        min-height: 50px;
        max-height: 50px;
        position: absolute;
        top: -45px;
        right: 2.6em;
        border-radius: 0px 10px 0px 0px;
        background-color: transparent;
        border-width: 22px;
        border-style: solid;
        border-color: transparent white transparent transparent;
    }

}

/*telephone*/
@media only screen and (max-width: 940px) {

    body {
        background-image: url("images/bg-mobile.png");
        background-position: bottom;
    }

    .card_action {
        min-width: 325px;
        max-width: 325px;
        max-height: 205px;
        min-height: 205px;
        margin-bottom: 1em;
    }

    .storage_stat {
        min-height: 95px;
        max-height: 95px;
        display: flex;
        flex-direction: column;
        padding: 2.2em;
        align-items: center;
    }

    .storage_text_used {
        color: hsl(243, 100%, 93%);
        text-align: center;
    }

    .storage_text_barre{
        width: 100%;
    }

    .storage_text_left {
        border-radius: 10px;
        position: absolute;
        bottom: -36px;
        left: 71px;
    }

}
